<configuration>
    <appender name="loggIJsonFormatTilKibana" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="com.zaxxer.hikari.pool.PoolBase" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="DEBUG"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="loggIJsonFormatTilKibana"/>
    </root>
</configuration>
