name:  toi-siste-oppfolgingsperiode-pond

on:
  push:
    paths:
    - apps/toi-siste-oppfolgingsperiode-pond/**
    - .github/workflows/deploy-toi-siste-oppfolgingsperiode-pond.yaml
    - .github/workflows/deploy-toi-template.yaml
    - buildSrc/**
    - technical-libs/testrapid

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-toi-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/splitt-applikasjoner
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
