name: toi-stilling-indekser

on:
  push:
    paths:
      - apps/toi-stilling-indekser/**
      - .github/workflows/deploy-toi-stilling-indekser.yaml
      - .github/workflows/deploy-toi-template.yaml
      - buildSrc/**
      - technical-libs/testrapid

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-toi-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/fiks_alert_og_securelog_2
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
