name: toi-evaluertdatalogger

on:
  push:
    paths:
      - apps/toi-evaluertdatalogger/**
      - .github/workflows/deploy-toi-evaluertdatalogger.yaml
      - .github/workflows/deploy-toi-template.yaml
      - buildSrc/**
      - technical-libs/testrapid

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-toi-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/bytt_til_team_logs
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
