name: toi-ontologitjeneste

on:
  push:
    paths:
    - apps/toi-ontologitjeneste/**
    - .github/workflows/deploy-toi-ontologitjeneste.yaml
    - .github/workflows/deploy-toi-template.yaml
    - buildSrc/**
    - technical-libs/testrapid

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-toi-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/oppdater_logg_og_alert
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
