name: toi-helseapp

env:
  APP_NAME: ${{ github.workflow }}

on:
  push:
    paths:
    - apps/toi-helseapp/**
    - .github/workflows/deploy-toi-helseapp.yaml
    - buildSrc/**

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    name: Build, test, and publish
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java v21.x
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.x'
      - name: Gradle test and build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x ./gradlew
          ./gradlew :apps:${APP_NAME}:test :apps:${APP_NAME}:build
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: toi
          image_suffix: ${{ env.APP_NAME }}
          dockerfile: apps/${{ env.APP_NAME }}/Dockerfile
          docker_context: apps/${{ env.APP_NAME }}
          tag: ${{ github.ref == 'refs/heads/main' && 'latest' || github.sha }}
          build_args: |
            APP_NAME=${{ env.APP_NAME }}

  deploy-to-prod-gcp:
    name: Deploy to prod-gcp
    needs: build-and-publish
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: apps/${{ env.APP_NAME }}/nais.yaml,apps/${{ env.APP_NAME }}/alerts.yaml
          VAR: image=${{ needs.build-and-publish.outputs.image }}

  call-trivy-security-scan:
    needs: build-and-publish
    uses: navikt/toi-github-actions-workflows/.github/workflows/trivy-security-scan.yaml@v1
    with:
      image: ${{ needs.build-and-publish.outputs.image }}
    permissions:
      id-token: write
      security-events: write
    secrets: inherit
